In [1]:
!python --version

Python 3.9.13

# Python

## Variables

Impresiones en pantalla

In [ ]:
print("Hello world!!")

Hello world!!

Comentarios

In [ ]:
# usando # la línea es un comentario
# no es suficiente para varias líneas

"""
  Se pueden escribir varias líneas
  usando 3 "
  también se usa para documentación
"""

'''
  Se pueden escribir varias líneas
  usando 3 '
  también se usa para documentación
'''

print("" == '')

True

In [ ]:
# Números
d = 10 
t = 3.5

In [ ]:
# Strings o cadenas de texto
h = 'hola'
m = 'mundo'

In [ ]:
# Booleanos
v = True
f = False

In [5]:
y = 3
x = 'Juan'

In [6]:
print(f'Esto es un string formateado {y}')

Esto es un string formateado 3

In [ ]:
print(x)

Juan

In [ ]:
print(d + t)
# print(t + h)
t, h # la última línea se imprime por defecto

13.5

(3.5, 'hola')

Obtener el tipo de una variable

In [ ]:
type(d), type(t), type(h), type(m), type(v), type(f) #

(int, float, str, str, bool, bool)

Nombres validos de variables

In [ ]:
minombre = 'Juan'
mi_nombre = 'Juan'
miNombre = 'Juan'
MINOMBRE = 'Juan'
MiNombre2 = 'Juan'

Nombres inválidos

```
2minombre = 'Juan'
mi-nombre = 'Juan'
mi nombre = 'Juan'
```

Sintaxis en variables con múltiples palabras

In [ ]:
miVariableEsUnNombre = 'Juan'   # Camel Case
MiVariableEsUnNombre = 'Juan'   # Pascal Case o Upper Camel Case
mi_variable_es_un_nombre = 'Juan' # Snake Case
v8wb4390_n__we9ruavnwe9nr = "hola" # Random

Asignaciones múltiples de variables

In [ ]:
pi, pa, pe = 'piña', 'papaya', 'pera'
print(pi, pa, pe)

piña papaya pera

Asignación de un valor a múltiples variables

In [ ]:
pi = ñ = a = 'piña'
print(pi, ñ, a)

piña piña piña

Indentación

In [7]:
# lineas de ejecución pertenecientes a una condición
if 8 > 9:
  
  print("8 es mayor que 9")
  print("hola")
else:
  print("8 es menor que 9")
   print('error')

IndentationError: unexpected indent (636424589.py, line 8)

Indentación en un archivo .js
```
if (8 > 7) {
    console.log('8 es mayor que 7');
    console.log('hola');
}
```

Variables Gobales

In [34]:
x = 'día'

def func():
  x = 'noche'
  print(f'estamos de {x}')

func()

print(f'estamos de {x}')

estamos de noche
estamos de día

In [35]:
x = 'día'

def func():
  global x
  x = 'noche'
  print(f'estamos de {x}')

func()

print(f'estamos de {x}')

estamos de noche
estamos de noche

## Tipos básicos de datos

```
Text Type:	str
Numeric Types:	int, float, complex
Boolean Type:	bool
```

In [9]:
x = "Hola Mundo!!"  # str
x = 20  # int
x = 20.5  # float
x = 0 + 1j  # complex
x = True  # bool

In [37]:
print(9+8j, type(9+8j))

(9+8j) <class 'complex'>

Asignación de variables

In [40]:
x = int('1312312')  # int
x = float(20.5)  # float
x = complex(1j)  # complex
x = str("Hello World")  # str
x = bool(5)  # bool

In [10]:
x = str(45.9)
print(x, type(x))

45.9 <class 'str'>

In [11]:
x = int('g')
print(x, type(x))

ValueError: invalid literal for int() with base 10: 'g'

Números

In [ ]:
x = 1  # int
y = 2.8 # float
z = 3+1j # complex

In [ ]:
x = 1
y = 10927391267378162387162387612
z = -5435

In [ ]:
x = 1.0
y = 1.1
z = -4.9

In [ ]:
x = 10e4
y = 3E4
z = -4.6e59

In [ ]:
x = 1j
y = 3 + 5j
z = -4 -6j

In [ ]:
print(type(x),type(y),type(z))

Conversiones entre números

In [ ]:
x = 1  # int
y = 2.8 # float
z = 3+1j # complex

In [ ]:
# int to float
a = float(x)
print(a, type(a))

In [ ]:
# float to int
b = int(y)
print(b, type(b))

In [ ]:
# int to complex
c = complex(z)
print(c, type(c))

Conversiones a números

In [ ]:
x = int(1)
y = int(2.6)
z = int('58')
print(z)

In [ ]:
x = float(1)
y = float(6.8)
z = float('3')
w = float('8.8')
print(w)

In [ ]:
x = complex(1)
y = complex(2.8)
z = complex('3j')
w = complex('8.8')
v = complex('8.8+5j')
print(v)

Strings

In [41]:
b = """
  Se pueden escribir varias líneas 
  usando 3 "
  tambien se usa para documentación
"""

c = '''
  Se pueden escribir varias líneas
  usando 3 '
  tambien se usa para documentación
'''

Conversiones a strings

In [1]:
a = str(12345)

a

'12345'

In [52]:
a = str(int(12345.0))
a

'12345'

In [53]:
a = str(float(87))

Strings como listas

In [59]:
c

"\n  Se pueden escribir varias líneas\n  usando 3 '\n  tambien se usa para documentación\n"

In [67]:
print(c[5])

In [62]:
for i in c:
    print(i)

S
e

p
u
e
d
e
n

e
s
c
r
i
b
i
r

v
a
r
i
a
s

l
í
n
e
a
s




u
s
a
n
d
o

3

'




t
a
m
b
i
e
n

s
e

u
s
a

p
a
r
a

d
o
c
u
m
e
n
t
a
c
i
ó
n

Longitud de un string

In [63]:
len(c)

85

Pertenencia de strings

In [68]:
c

"\n  Se pueden escribir varias líneas\n  usando 3 '\n  tambien se usa para documentación\n"

In [73]:
print(' Se' in c)

True

In [75]:
print('        Se' not in c)

True

Segmentación de strings

In [76]:
print(c[12:20]) # inicio y fin dados

 escribi

In [77]:
print(c[:20]) # fin dado

  Se pueden escribi

In [78]:
print(c[20:]) # inicio dado

r varias líneas
  usando 3 '
  tambien se usa para documentación

In [83]:
print(c[:-1]) # indice negativo, representa el último elemento

  Se pueden escribir varias líneas
  usando 3 '
  tambien se usa para documentación

Upper case

In [86]:
m = c.upper()
print(m)

  SE PUEDEN ESCRIBIR VARIAS LÍNEAS
  USANDO 3 '
  TAMBIEN SE USA PARA DOCUMENTACIÓN

In [87]:
m

"\n  SE PUEDEN ESCRIBIR VARIAS LÍNEAS\n  USANDO 3 '\n  TAMBIEN SE USA PARA DOCUMENTACIÓN\n"

Lower case

In [88]:
n = m.lower()
print(n)

  se pueden escribir varias líneas
  usando 3 '
  tambien se usa para documentación

Partir un string

In [90]:
c

"\n  Se pueden escribir varias líneas\n  usando 3 '\n  tambien se usa para documentación\n"

In [91]:
p = c.split('\n')
print(p)

['', '  Se pueden escribir varias líneas', "  usando 3 '", '  tambien se usa para documentación', '']

Quitar espacios inicio string

In [4]:
m = '                   asasdio oaisduaoisd   oaidsuiaos   qweqweq  132 12 3'

In [5]:
m = m.strip()
print(m)

asasdio oaisduaoisd   oaidsuiaos   qweqweq  132 12 3

Reemplazar valores en un string

In [6]:
'asasdio' in m

True

In [7]:
m = m.replace('asasdio', 'Hola')
m

'Hola oaisduaoisd   oaidsuiaos   qweqweq  132 12 3'

In [8]:
m = m.replace(' ', '_')
m

'Hola_oaisduaoisd___oaidsuiaos___qweqweq__132_12_3'

In [10]:
m = m.split('_')
m

['Hola',
 'oaisduaoisd',
 '',
 '',
 'oaidsuiaos',
 '',
 '',
 'qweqweq',
 '',
 '132',
 '12',
 '3']

Formatear strings

In [11]:
txt = 'buenas tardes mi nombre es juan'

In [13]:
txt = txt.replace('juan', '')
txt

'buenas tardes mi nombre es '

In [14]:
nombre = 'Jorge'

In [15]:
type(txt) == type(nombre)

True

In [28]:
txt = 'buenas tardes mi nombre es ' + nombre + ' y me gusta el agua'
txt

'buenas tardes mi nombre es Jorge y me gusta el agua'

In [23]:
edad = 30

In [29]:
txt = txt + ' ' + str(edad) + ' y esta es mi edad'

In [30]:
txt

'buenas tardes mi nombre es Jorge y me gusta el agua 30 ty esta es mi edad'

In [32]:
edad = 30
txt = 'hola mi {} es {}'.format('edad',edad)
txt

'hola mi edad es 30'

In [40]:
edad = 30
var1 = 'edad'
txt = f'hola mi \n {var1} es {edad}'
txt

'hola mi \n edad es 30'

Caracteres Back Slask (\\)

```
    \'	        Single Quote
    \"	        Single Double Quote
    \\	        Backslash	
    \n	        New Line	
    \r	        Carriage Return	
    \t	        Tab	
    \b	        Backspace		
```

In [59]:
txt = 'hola \n mi nombre \n\n es Juan'
print(txt)

hola
 mi nombre

 es Juan

In [43]:
txt = '''Hola
mi nombre es
juan
'''

In [47]:
txt + "\t" +'hola'

'Hola\nmi nombre es\njuan\n\thola'

In [48]:
txt ='''Mi nombre es \"Juan\" y tengo años
me gusta \nleer,\n \rjugar y \thacer ejercicio
vivo \bcon 3 animales y 4 familiares'''
print(txt)

Mi nombre es "Juan" y tengo años
me gusta
leer,
jugar y 	hacer ejercicio
vivocon 3 animales y 4 familiares

In [62]:
txt

'hola \n mi nombre \n\n es Juan'

Encontrar la posicioon de un string en otro string

In [65]:
txt.find('Juan')

23

In [68]:
txt[23:]

'Juan'

[Metodos de los Strings](https://www.w3schools.com/python/python_strings_methods.asp)

Booleanos

In [70]:
n1 = 900
n2 = 3000

if n1 > n2:
    print(f'{n1} es mayor que {n2}')
else:
    print(f'{n1} es menor que {n2}')

900 es menor que 3000

In [71]:
print(n1 > n2)

False

Negaciones

In [73]:
print(not n1 > n2)
print(not False)
print(not True)

True
True
False

Conjunción y disjunción

![Image](https://th.bing.com/th/id/OIP.peJYgdD6w6v6TQ_f9FySbAGyCP?pid=ImgDet&rs=1)

In [76]:
print(False or True)

True

In [78]:
print(False | True)

True

In [ ]:
print(False and True)

In [79]:
print(False & True)

False

Comparaciones o igualdades

In [86]:
print(True == 1)
print(False == 0)
print(False != 2)
print(True != 2)

True
True
True
True

In [88]:
print(3 != 3)
print(1 != 2)

False
True

Referencia a la misma variable

In [89]:
list1 = [1, 2, 3, 4]
list2 = list1 
print(list1 is list2)
print(list1 == list2)

True
True

In [91]:
list2 = [1, 2, 3, 4]
print(list1 is list2)
print(list1 == list2)
print(not (list1 is list2))

False
True
True

Desigualdades

In [92]:
print(5 < 10)
print(5 > 10)
print(5 < 5)
print(5 <= 10)
print(5 >= 10)
print(5 <= 5)
print(5 < 10 <= 10)
print(5 < 10 > 7)

True
False
False
True
False
True
True
True

In [93]:
print(5 < 10 <= 10 and True == 1)
print(5 < 10 > 7 or (90-15) < (110-30))

True
True

Casos curiosos

In [94]:
print(True + True)
print(True * 8)
print(False - 5)

2
8
-5

In [95]:
print(0 and 2)
print(-5 or 0)

0
-5

Interpretación de otros tipos de datos como booleanos

In [101]:
print(bool(""))
print(bool(0))
print(bool(False))
print(bool(None))
print(bool(0.0))
print(bool(""))
print(bool(()))
print(bool([]))
print(bool({}))

False
False
False
False
False
False
False
False
False

In [102]:
print(bool("hola"))
print(bool(10))
print(bool(True))
print(bool(None))
print(bool(2.1))
print(bool((None, 9)))
print(bool(['piña', 'pera']))
print(bool({'clave':'valor'}))

True
True
True
False
True
True
True
True

Booleanos en funciones

In [103]:
def miFuncion():
    return True

if miFuncion():
    print('hay algo')
else:
    print('hay nada')

hay algo

Booleanos en clases

In [116]:
class MiClase():
    def miFuncion(self):
        return 0

juan = MiClase()

## Operadores

Operadores aritméticos

In [2]:
x = 3
y = 4

In [7]:
print(x + y) # suma
print(x - y) # resta
print(x * y) # multiplicación
print(x / y) # divición

7
-1
12
0.75

In [13]:
print(x ** y) # exponenciación
print(x // 4) # divición entera

81
0

In [22]:
print(4 % 3) # módulo

1

In [23]:
txt = 'mi texto'

In [31]:
print(txt*6)

mi textomi textomi textomi textomi textomi texto

Asignación compuesta

In [16]:
x = 10

In [17]:
# x = x + 10
x += 10

In [47]:
x -= 6

In [48]:
x *= 6

In [49]:
x /= 6

In [51]:
x %= 3

In [63]:
x //= 6

In [64]:
v = True
f = False

In [77]:
print(v or f)
print(v and f)

print(v | f)
print(f & f)

True
False
True
False

In [74]:
v |= True

In [81]:
f = f or v

In [82]:
f &= False

Operadores de comapración

In [83]:
x = 90
y = 98

In [84]:
print(x == y) # Igualación
print(x != y) # Diferencia

False
True

In [85]:
print(x < y)
print(x > y)
print(x <= y)
print(x >= y)

True
False
True
False

In [92]:
x = [10]
y = [10]

In [93]:
print(x is y)

False

In [94]:
y = x

Operador de identidad

In [97]:
print(x is y)
print(x is not y)

True
False

Combinaciones

In [96]:
print(10 < 9 and (90 + 15) > (1900-1800))

False

Operador pertenencia

In [101]:
txt2 = ' t'

print(txt2 in txt)
print(txt2 not in txt)

True
False

## Condicionales

- if
- while else
- for else

if

In [105]:
a = 90
b = 800
txt = 'Hola mundo'

In [106]:
if a > b:
    print(txt)

elif

In [110]:
c = 700

In [108]:
if a > b:
    print(txt)
elif a > c:
    print('otra cosa')

otra cosa

In [111]:
if a > b:
    print(txt)
elif a > c:
    print('otra cosa')
else:
    print('lo último')

lo último

If en una linea

In [115]:
a = 30
b = 30

print('a es menor que b') if a < b else print('a es mayor que b')

a es mayor que b

If anidado

In [116]:
if b < a:
    if b == 20:
        print('b es 20')

while

In [121]:
i = 0

while i < 10:
    print(i)
    i += 0.5

0
0.5
1.0
1.5
2.0
2.5
3.0
3.5
4.0
4.5
5.0
5.5
6.0
6.5
7.0
7.5
8.0
8.5
9.0
9.5

sentencia break

In [128]:
i = 0

while i < 10:
    if i == 5:
        break
    print(i)
    i+=1

0
1
2
3
4

while else

In [131]:
i = 0

while i < 10:
    print(i)
    i+=1
else:
    print('i es mayor que 10')

0
1
2
3
4
5
6
7
8
9
i es mayor que 10

for

In [19]:
txt = 'en mi casa hay muchos perros y gatos'

In [5]:
lista = list(txt)

In [7]:
lista

['e',
 'n',
 ' ',
 'm',
 'i',
 ' ',
 'c',
 'a',
 's',
 'a',
 ' ',
 'h',
 'a',
 'y',
 ' ',
 'm',
 'u',
 'c',
 'h',
 'o',
 's',
 ' ',
 'p',
 'e',
 'r',
 'r',
 'o',
 's',
 ' ',
 'y',
 ' ',
 'g',
 'a',
 't',
 'o',
 's']

In [15]:
for i in txt:
    print(i)

e
n

m
i

c
a
s
a

h
a
y

m
u
c
h
o
s

p
e
r
r
o
s

y

g
a
t
o
s
e
n

m
i

c
a
s
a

h
a
y

m
u
c
h
o
s

p
e
r
r
o
s

y

g
a
t
o
s
e
n

m
i

c
a
s
a

h
a
y

m
u
c
h
o
s

p
e
r
r
o
s

y

g
a
t
o
s
e
n

m
i

c
a
s
a

h
a
y

m
u
c
h
o
s

p
e
r
r
o
s

y

g
a
t
o
s
e
n

m
i

c
a
s
a

h
a
y

m
u
c
h
o
s

p
e
r
r
o
s

y

g
a
t
o
s
e
n

m
i

c
a
s
a

h
a
y

m
u
c
h
o
s

p
e
r
r
o
s

y

g
a
t
o
s
e
n

m
i

c
a
s
a

h
a
y

m
u
c
h
o
s

p
e
r
r
o
s

y

g
a
t
o
s
e
n

m
i

c
a
s
a

h
a
y

m
u
c
h
o
s

p
e
r
r
o
s

y

g
a
t
o
s
e
n

m
i

c
a
s
a

h
a
y

m
u
c
h
o
s

p
e
r
r
o
s

y

g
a
t
o
s
e
n

m
i

c
a
s
a

h
a
y

m
u
c
h
o
s

p
e
r
r
o
s

y

g
a
t
o
s
e
n

m
i

c
a
s
a

h
a
y

m
u
c
h
o
s

p
e
r
r
o
s

y

g
a
t
o
s
e
n

m
i

c
a
s
a

h
a
y

m
u
c
h
o
s

p
e
r
r
o
s

y

g
a
t
o
s
e
n

m
i

c
a
s
a

h
a
y

m
u
c
h
o
s

p
e
r
r
o
s

y

g
a
t
o
s
e
n

m
i

c
a
s
a

h
a
y

m
u
c
h
o
s

p
e
r
r
o
s

y

g
a
t
o
s
e
n

m
i

c
a
s
a

h
a
y

m
u
c
h
o
s

p
e
r
r
o
s

y

g
a
t
o
s
e
n

m
i

c
a
s
a

h
a
y

m
u
c
h
o
s

p
e
r
r
o
s

y

g
a
t
o
s
e
n

m
i

c
a
s
a

h
a
y

m
u
c
h
o
s

p
e
r
r
o
s

y

g
a
t
o
s
e
n

m
i

c
a
s
a

h
a
y

m
u
c
h
o
s

p
e
r
r
o
s

y

g
a
t
o
s
e
n

m
i

c
a
s
a

h
a
y

m
u
c
h
o
s

p
e
r
r
o
s

y

g
a
t
o
s
e
n

m
i

c
a
s
a

h
a
y

m
u
c
h
o
s

p
e
r
r
o
s

y

g
a
t
o
s
e
n

m
i

c
a
s
a

h
a
y

m
u
c
h
o
s

p
e
r
r
o
s

y

g
a
t
o
s
e
n

m
i

c
a
s
a

h
a
y

m
u
c
h
o
s

p
e
r
r
o
s

y

g
a
t
o
s
e
n

m
i

c
a
s
a

h
a
y

m
u
c
h
o
s

p
e
r
r
o
s

y

g
a
t
o
s
e
n

m
i

c
a
s
a

h
a
y

m
u
c
h
o
s

p
e
r
r
o
s

y

g
a
t
o
s
e
n

m
i

c
a
s
a

h
a
y

m
u
c
h
o
s

p
e
r
r
o
s

y

g
a
t
o
s
e
n

m
i

c
a
s
a

h
a
y

m
u
c
h
o
s

p
e
r
r
o
s

y

g
a
t
o
s
e
n

m
i

c
a
s
a

h
a
y

m
u
c
h
o
s

p
e
r
r
o
s

y

g
a
t
o
s
e
n

m
i

c
a
s
a

h
a
y

m
u
c
h
o
s

p
e
r
r
o
s

y

g
a
t
o
s
e
n

m
i

c
a
s
a

h
a
y

m
u
c
h
o
s

p
e
r
r
o
s

y

g
a
t
o
s
e
n

m
i

c
a
s
a

h
a
y

m
u
c
h
o
s

p
e
r
r
o
s

y

g
a
t
o
s
e
n

m
i

c
a
s
a

h
a
y

m
u
c
h
o
s

p
e
r
r
o
s

y

g
a
t
o
s
e
n

m
i

c
a
s
a

h
a
y

m
u
c
h
o
s

p
e
r
r
o
s

y

g
a
t
o
s
e
n

m
i

c
a
s
a

h
a
y

m
u
c
h
o
s

p
e
r
r
o
s

y

g
a
t
o
s
e
n

m
i

c
a
s
a

h
a
y

m
u
c
h
o
s

p
e
r
r
o
s

y

g
a
t
o
s
e
n

m
i

c
a
s
a

h
a
y

m
u
c
h
o
s

p
e
r
r
o
s

y

g
a
t
o
s
e
n

m
i

c
a
s
a

h
a
y

m
u
c
h
o
s

p
e
r
r
o
s

y

g
a
t
o
s
e
n

m
i

c
a
s
a

h
a
y

m
u
c
h
o
s

p
e
r
r
o
s

y

g
a
t
o
s
e
n

m
i

c
a
s
a

h
a
y

m
u
c
h
o
s

p
e
r
r
o
s

y

g
a
t
o
s
e
n

m
i

c
a
s
a

h
a
y

m
u
c
h
o
s

p
e
r
r
o
s

y

g
a
t
o
s
e
n

m
i

c
a
s
a

h
a
y

m
u
c
h
o
s

p
e
r
r
o
s

y

g
a
t
o
s
e
n

m
i

c
a
s
a

h
a
y

m
u
c
h
o
s

p
e
r
r
o
s

y

g
a
t
o
s
e
n

m
i

c
a
s
a

h
a
y

m
u
c
h
o
s

p
e
r
r
o
s

y

g
a
t
o
s
e
n

m
i

c
a
s
a

h
a
y

m
u
c
h
o
s

p
e
r
r
o
s

y

g
a
t
o
s
e
n

m
i

c
a
s
a

h
a
y

m
u
c
h
o
s

p
e
r
r
o
s

y

g
a
t
o
s
e
n

m
i

c
a
s
a

h
a
y

m
u
c
h
o
s

p
e
r
r
o
s

y

g
a
t
o
s
e
n

m
i

c
a
s
a

h
a
y

m
u
c
h
o
s

p
e
r
r
o
s

y

g
a
t
o
s
e
n

m
i

c
a
s
a

h
a
y

m
u
c
h
o
s

p
e
r
r
o
s

y

g
a
t
o
s
e
n

m
i

c
a
s
a

h
a
y

m
u
c
h
o
s

p
e
r
r
o
s

y

g
a
t
o
s
e
n

m
i

c
a
s
a

h
a
y

m
u
c
h
o
s

p
e
r
r
o
s

y

g
a
t
o
s
e
n

m
i

c
a
s
a

h
a
y

m
u
c
h
o
s

p
e
r
r
o
s

y

g
a
t
o
s
e
n

m
i

c
a
s
a

h
a
y

m
u
c
h
o
s

p
e
r
r
o
s

y

g
a
t
o
s
e
n

m
i

c
a
s
a

h
a
y

m
u
c
h
o
s

p
e
r
r
o
s

y

g
a
t
o
s
e
n

m
i

c
a
s
a

h
a
y

m
u
c
h
o
s

p
e
r
r
o
s

y

g
a
t
o
s
e
n

m
i

c
a
s
a

h
a
y

m
u
c
h
o
s

p
e
r
r
o
s

y

g
a
t
o
s
e
n

m
i

c
a
s
a

h
a
y

m
u
c
h
o
s

p
e
r
r
o
s

y

g
a
t
o
s
e
n

m
i

c
a
s
a

h
a
y

m
u
c
h
o
s

p
e
r
r
o
s

y

g
a
t
o
s
e
n

m
i

c
a
s
a

h
a
y

m
u
c
h
o
s

p
e
r
r
o
s

y

g
a
t
o
s
e
n

m
i

c
a
s
a

h
a
y

m
u
c
h
o
s

p
e
r
r
o
s

y

g
a
t
o
s
e
n

m
i

c
a
s
a

h
a
y

m
u
c
h
o
s

p
e
r
r
o
s

y

g
a
t
o
s
e
n

m
i

c
a
s
a

h
a
y

m
u
c
h
o
s

p
e
r
r
o
s

y

g
a
t
o
s
e
n

m
i

c
a
s
a

h
a
y

m
u
c
h
o
s

p
e
r
r
o
s

y

g
a
t
o
s
e
n

m
i

c
a
s
a

h
a
y

m
u
c
h
o
s

p
e
r
r
o
s

y

g
a
t
o
s
e
n

m
i

c
a
s
a

h
a
y

m
u
c
h
o
s

p
e
r
r
o
s

y

g
a
t
o
s
e
n

m
i

c
a
s
a

h
a
y

m
u
c
h
o
s

p
e
r
r
o
s

y

g
a
t
o
s
e
n

m
i

c
a
s
a

h
a
y

m
u
c
h
o
s

p
e
r
r
o
s

y

g
a
t
o
s
e
n

m
i

c
a
s
a

h
a
y

m
u
c
h
o
s

p
e
r
r
o
s

y

g
a
t
o
s
e
n

m
i

c
a
s
a

h
a
y

m
u
c
h
o
s

p
e
r
r
o
s

y

g
a
t
o
s
e
n

m
i

c
a
s
a

h
a
y

m
u
c
h
o
s

p
e
r
r
o
s

y

g
a
t
o
s
e
n

m
i

c
a
s
a

h
a
y

m
u
c
h
o
s

p
e
r
r
o
s

y

g
a
t
o
s
e
n

m
i

c
a
s
a

h
a
y

m
u
c
h
o
s

p
e
r
r
o
s

y

g
a
t
o
s
e
n

m
i

c
a
s
a

h
a
y

m
u
c
h
o
s

p
e
r
r
o
s

y

g
a
t
o
s
e
n

m
i

c
a
s
a

h
a
y

m
u
c
h
o
s

p
e
r
r
o
s

y

g
a
t
o
s
e
n

m
i

c
a
s
a

h
a
y

m
u
c
h
o
s

p
e
r
r
o
s

y

g
a
t
o
s
e
n

m
i

c
a
s
a

h
a
y

m
u
c
h
o
s

p
e
r
r
o
s

y

g
a
t
o
s
e
n

m
i

c
a
s
a

h
a
y

m
u
c
h
o
s

p
e
r
r
o
s

y

g
a
t
o
s
e
n

m
i

c
a
s
a

h
a
y

m
u
c
h
o
s

p
e
r
r
o
s

y

g
a
t
o
s
e
n

m
i

c
a
s
a

h
a
y

m
u
c
h
o
s

p
e
r
r
o
s

y

g
a
t
o
s
e
n

m
i

c
a
s
a

h
a
y

m
u
c
h
o
s

p
e
r
r
o
s

y

g
a
t
o
s
e
n

m
i

c
a
s
a

h
a
y

m
u
c
h
o
s

p
e
r
r
o
s

y

g
a
t
o
s
e
n

m
i

c
a
s
a

h
a
y

m
u
c
h
o
s

p
e
r
r
o
s

y

g
a
t
o
s
e
n

m
i

c
a
s
a

h
a
y

m
u
c
h
o
s

p
e
r
r
o
s

y

g
a
t
o
s
e
n

m
i

c
a
s
a

h
a
y

m
u
c
h
o
s

p
e
r
r
o
s

y

g
a
t
o
s
e
n

m
i

c
a
s
a

h
a
y

m
u
c
h
o
s

p
e
r
r
o
s

y

g
a
t
o
s
e
n

m
i

c
a
s
a

h
a
y

m
u
c
h
o
s

p
e
r
r
o
s

y

g
a
t
o
s
e
n

m
i

c
a
s
a

h
a
y

m
u
c
h
o
s

p
e
r
r
o
s

y

g
a
t
o
s
e
n

m
i

c
a
s
a

h
a
y

m
u
c
h
o
s

p
e
r
r
o
s

y

g
a
t
o
s
e
n

m
i

c
a
s
a

h
a
y

m
u
c
h
o
s

p
e
r
r
o
s

y

g
a
t
o
s
e
n

m
i

c
a
s
a

h
a
y

m
u
c
h
o
s

p
e
r
r
o
s

y

g
a
t
o
s
e
n

m
i

c
a
s
a

h
a
y

m
u
c
h
o
s

p
e
r
r
o
s

y

g
a
t
o
s
e
n

m
i

c
a
s
a

h
a
y

m
u
c
h
o
s

p
e
r
r
o
s

y

g
a
t
o
s

In [28]:
txt[36] == txt[-1]

IndexError: string index out of range

for con rango

In [21]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [29]:
for i in range(0, len(lista)):
    print(lista[i])

e
n

m
i

c
a
s
a

h
a
y

m
u
c
h
o
s

p
e
r
r
o
s

y

g
a
t
o
s

for else

In [31]:
for i in range(0, 5):
    print(lista[i])
else:
    print('termino')

e
n

m
i
termino

For anidados

In [39]:
frutas = ['pera', 'banano', 'tomate']

In [40]:
for fruta in frutas:
    print('La fruta: ', fruta)
    print('Tiene las letras: ')
    for letra in fruta:
        print(letra)

La fruta:  pera
Tiene las letras:
p
e
r
a
La fruta:  banano
Tiene las letras:
b
a
n
a
n
o
La fruta:  tomate
Tiene las letras:
t
o
m
a
t
e

for en una linea

In [35]:
numeros = [i for i in range(0,100)]
print(numeros)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [38]:
personas = ['Juan', 'Monica', 'Diego']

In [42]:
for persona in personas:
    print('la persona' , persona, '\nse come las frutas')
    for fruta in frutas:
        print(fruta)

la persona Juan
se come las frutas
pera
banano
tomate
la persona Monica
se come las frutas
pera
banano
tomate
la persona Diego
se come las frutas
pera
banano
tomate

In [44]:
lista = [f'{persona} se come las frutas {[fruta for fruta in frutas]}' for persona in personas]
lista

["Juan se come las frutas ['pera', 'banano', 'tomate']",
 "Monica se come las frutas ['pera', 'banano', 'tomate']",
 "Diego se come las frutas ['pera', 'banano', 'tomate']"]

for e if en una linea

In [46]:
numeros = [i for i in range(0,100)]
print(numeros)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [50]:
numeros = []
for i in range(0,100):
    if i%2 == 0:
        numeros.append(i)
    else:
        pass
print(numeros)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

In [52]:
numeros = [i for i in range(0,100) if i%2 == 0]
print(numeros)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

## Tipos compuestos de datos

```
Sequence Types:	list, tuple, range
Mapping Type:	dict
Set Types:	set

```

- Lista: ordenable y modificable. Permite duplicados.
- Tupla: ordenable e inmutable. Permite duplicados.
- Set: desordenado, inmutable y no indexada. No permite duplicados.
- Diccionario: ordenable y modificable. No permite duplicados.

In [ ]:
x = ["papaya", "pera", "naranja"]  # list
x = ("papaya", "pera", "naranja")  # tuple
x = range(6)  # range
x = {"name": "Pedro", "age": 36}  # dict
x = {"papaya", "pera", "naranja"}  # set

In [8]:
x = list(("manzana", "sandia", "pan"))  # list
x = tuple(("manzana", "sandia", "pan"))  # tuple
x = range(6)  # range
x = dict(name="Jose", age=19)  # dict
x = set(("manzana", "sandia", "pan"))  # set

In [12]:
x = dict(name="Jose", age=19)  # dict
print(x, type(x))

{'name': 'Jose', 'age': 19} <class 'dict'>

In [54]:
['a', 'a', 'a']

['a', 'a', 'a']

In [55]:
(1, 1, 1)

(1, 1, 1)

In [58]:
{'1', '1', '2'}

{'1', '2'}

In [63]:
{'key': [i for i in range(0,9)],
 'key1': 'texto simple',
 'key2': 90+45j}

{'key': [0, 1, 2, 3, 4, 5, 6, 7, 8], 'key1': 'texto simple', 'key2': (90+45j)}

Listas

In [1]:
lista1 = ['uno', 'dos', "tres"]
lista2 = [10, -4, 7.9, -4+8j]
lista3 = [True, False, 0, 1]
lista4 = ['uno', -4, 7.9, -4+8j, True, False, True]

Pertenencia en las listas

In [2]:
range(0, 200)

range(0, 200)

In [3]:
numeros = list(range(0, 200))

In [4]:
print(numeros)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199]

In [5]:
print(40 in numeros)
print(40 not in numeros)
print(400 in numeros)
print(400 not in numeros)

True
False
False
True

Tamaño de una lista

In [7]:
len(numeros) #tamaño de la lista

200

Construcción de listas

In [8]:
lista = list(('hola', 'adios', {'perro', 90}, lista3, lista4))

In [9]:
print(lista)

['hola', 'adios', {'perro', 90}, [True, False, 0, 1], ['uno', -4, 7.9, (-4+8j), True, False, True]]

Obtener elementos de la lista

In [10]:
lista[0]

'hola'

Obtener parte de la lista

In [14]:
print(lista[2:4]) # En un rango de posiciones
print(lista[:-2]) # Desde el inicio
print(lista[1:]) # Hasta el final
print(lista[-3:-2]) # indices negativos

[{'perro', 90}, [True, False, 0, 1]]
['hola', 'adios', {'perro', 90}]
['adios', {'perro', 90}, [True, False, 0, 1], ['uno', -4, 7.9, (-4+8j), True, False, True]]
[{'perro', 90}]

Modificar listas en posiciones

In [15]:
lista

['hola',
 'adios',
 {90, 'perro'},
 [True, False, 0, 1],
 ['uno', -4, 7.9, (-4+8j), True, False, True]]

In [16]:
lista[0] = 'juan'
lista

['juan',
 'adios',
 {90, 'perro'},
 [True, False, 0, 1],
 ['uno', -4, 7.9, (-4+8j), True, False, True]]

In [17]:
lista[0:2] = ['ana']
lista

['ana',
 {90, 'perro'},
 [True, False, 0, 1],
 ['uno', -4, 7.9, (-4+8j), True, False, True]]

In [18]:
lista[0:2] = ['jorge', {90, 'gato'}, 709]
lista

['jorge',
 {90, 'gato'},
 709,
 [True, False, 0, 1],
 ['uno', -4, 7.9, (-4+8j), True, False, True]]

Insertar elemento al final de la lista función append

In [19]:
lista.append(90)
lista

['jorge',
 {90, 'gato'},
 709,
 [True, False, 0, 1],
 ['uno', -4, 7.9, (-4+8j), True, False, True],
 90]

Insertar elemento en posición determinada

In [20]:
lista.insert(3, 90)
lista

['jorge',
 {90, 'gato'},
 709,
 90,
 [True, False, 0, 1],
 ['uno', -4, 7.9, (-4+8j), True, False, True],
 90]

extender una lista con otra

In [22]:
lista2 = list(range(0,10))
lista2

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [25]:
lista.extend(lista2)
lista

['jorge',
 {90, 'gato'},
 709,
 90,
 [True, False, 0, 1],
 ['uno', -4, 7.9, (-4+8j), True, False, True],
 90,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9]

In [26]:
lista1 = list(range(0,10))
lista2 = list(range(10,20))
lista3 = list(range(20,30))

In [27]:
lista = lista1 + lista2 + lista3
lista

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29]

In [28]:
lista2 += lista3 # lista2 = lista2 + lista3
lista2

[10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29]

In [29]:
for valor in lista1:
    lista2.append(valor)
lista2

[10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9]

Eliminar elementos

In [33]:
lista2 = list(range(5,10))
lista2

[5, 6, 7, 8, 9]

In [34]:
lista2.pop()
lista2

[5, 6, 7, 8]

In [35]:
lista2.pop(1)
lista2

[5, 7, 8]

In [36]:
del lista2[0]
lista2

[7, 8]

Eliminar elemento específico

In [37]:
lista2.remove(7)
lista2

[8]

In [38]:
lista2.clear()
lista2

[]

Recorrer una lista

In [47]:
for valor in lista1:
    print(valor)

0
1
2
3
4
5
6
7
8
9

In [54]:
lista1 = 10*['j']+10*['k']

In [55]:
for i in range(0,len(lista1)):
    print(lista1[i])

j
j
j
j
j
j
j
j
j
j
k
k
k
k
k
k
k
k
k
k

In [53]:
lista3 = [valor for valor in lista1]
lista3

['j', 'j', 'j', 'j', 'j', 'j', 'j', 'j', 'j', 'j']

Filtro simple for e if en una linea

In [56]:
lista3 = [valor for valor in lista1 if valor == 'k']
lista3

['k', 'k', 'k', 'k', 'k', 'k', 'k', 'k', 'k', 'k']

Ordenar una lista

In [81]:
import random
import pandas as pd

In [61]:
lista = random.sample(list(range(0,51)), 5)
lista

[30, 1, 22, 13, 36]

In [62]:
lista.sort()
lista

[1, 13, 22, 30, 36]

In [63]:
lista.sort(reverse=True)
lista

[36, 30, 22, 13, 1]

In [65]:
lista = ['juan', 'Fernando', 'cardona', 'Ruiz']
lista.sort()
lista

['Fernando', 'Ruiz', 'cardona', 'juan']

In [66]:
lista = ['juan', 'Fernando', 'cardona', 'Ruiz']
lista.sort(key=str.lower)
lista

['cardona', 'Fernando', 'juan', 'Ruiz']

Invertir listas

In [67]:
lista.reverse()
lista

['Ruiz', 'juan', 'Fernando', 'cardona']

Copiar listas

In [68]:
lista2 = lista1

In [70]:
lista2[0] = 1

In [71]:
lista1

[1,
 'j',
 'j',
 'j',
 'j',
 'j',
 'j',
 'j',
 'j',
 'j',
 'k',
 'k',
 'k',
 'k',
 'k',
 'k',
 'k',
 'k',
 'k',
 'k']

In [72]:
lista2 = lista1.copy()

[Métodos de las listas](https://www.w3schools.com/python/python_lists_methods.asp)

Tuplas

In [75]:
tupla = ('2', '3', '3', '4')
tupla

('2', '3', '3', '4')

In [76]:
len(tupla)

4

In [77]:
type(tupla)

tuple

In [79]:
var1 = ('y',)
type(var1)

tuple

In [80]:
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)
tuple4 = ("abc", 34, True, 40, "male")

In [93]:
print(tuple(list(range(0,10))))
tuple1[2:4]
True in tuple2

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

True

In [94]:
tuple4[0] = '4'

TypeError: 'tuple' object does not support item assignment

Sets

In [95]:
set1 = {'papaya', 'banano', 'manzana'}
set2 = {1, 5, 7, 9, 3}

In [98]:
set1, set2

({'banano', 'manzana', 'papaya'}, {1, 3, 5, 7, 9})

In [99]:
print(len(set1))
print(type(set1))

3
<class 'set'>

In [112]:
set3 = set(2*['p']+list(range(0,10)))
set3.add((2, 3))
set3

{(2, 3), 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'p'}

In [113]:
[print(val) for val in set3]

0
1
2
3
4
5
6
7
8
9
p
(2, 3)

[None, None, None, None, None, None, None, None, None, None, None, None]

In [114]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'papaya', 'mango', 'pineapple', 'cherry', 'banana', 'apple'}

Diccionarios

In [115]:
nombre = {'primera': 'a', 'seg': 'b',
          'ter': 'c', 'cuar': 'a', 'quin': 'd'}

In [116]:
nombre

{'primera': 'a', 'seg': 'b', 'ter': 'c', 'cuar': 'a', 'quin': 'd'}

In [119]:
nombre['quin']

'd'

In [120]:
dict1 = dict(nombre='juan', apellido='cardona')
dict1

{'nombre': 'juan', 'apellido': 'cardona'}

Obtención y asignación de valores

In [122]:
dict1.keys()

dict_keys(['nombre', 'apellido'])

In [123]:
dict1.values()

dict_values(['juan', 'cardona'])

In [127]:
dict1.items()

dict_items([('nombre', 'juan'), ('apellido', 'cardona')])

In [128]:
dict1['nombre'] = 'monica'

In [131]:
dict1.update({'peso': '50'})
dict1

{'nombre': 'jorge', 'apellido': 'cardona', 'peso': '50'}

In [132]:
dict1['altura'] = '60'
dict1

{'nombre': 'jorge', 'apellido': 'cardona', 'peso': '50', 'altura': '60'}

In [133]:
dict1.pop('nombre')
dict1

{'apellido': 'cardona', 'peso': '50', 'altura': '60'}

Recorrer un diccionario

In [134]:
for x in dict1:
  print(x)

apellido
peso
altura

In [135]:
for x in dict1:
  print(dict1[x])

cardona
50
60

In [136]:
for x in dict1.values():
  print(x)

cardona
50
60

In [139]:
for x in dict1.keys():
  print(x)

apellido
peso
altura

In [142]:
for x, y in dict1.items():
    print(x, y)

apellido cardona
peso 50
altura 60

In [143]:
dict3 = dict1.copy()

Diccionarios de diccionarios

In [145]:
myfamily = {
    "child1": {
            "name": "Emil",
            "year": 2004,
            'grade': 5
        },
    "child2": {
            "name": "Tobias",
            "year": 2007
        },
    "child3": {
            "name": "Linus",
            "year": 2011
        }
}
myfamily

{'child1': {'name': 'Emil', 'year': 2004, 'grade': 5},
 'child2': {'name': 'Tobias', 'year': 2007},
 'child3': {'name': 'Linus', 'year': 2011}}

In [147]:
child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}
myfamily

{'child1': {'name': 'Emil', 'year': 2004},
 'child2': {'name': 'Tobias', 'year': 2007},
 'child3': {'name': 'Linus', 'year': 2011}}

[Métodos de los diccionarios](https://www.w3schools.com/python/python_dictionaries_methods.asp)