In [1]:
!python --version

Python 3.9.13

# Python

## Sintáxis básica

Impresiones en pantalla

In [1]:
print("Hello world!!")

Hello world!!

Indentación

In [ ]:
if 8 > 9:
  print("8 es mayor que 9")
  print("hola")
else:
  print("8 es menor que 9")

8 es menor que 9

Indentación en un archivo .js
```
if (8 > 7) {
    console.log('8 es mayor que 7');
    console.log('hola');
}
```

## Comentarios

In [ ]:
# unasndo # la linea es un comentario
# no es suficiente para varias lineas

"""
  Se pueden escribir varias líneas
  usando 3 "
  tambien se usa para documentación
"""

'''
  Se pueden escribir varias líneas
  usando 3 '
  tambien se usa para documentación
'''

print("" == '')

True

In [6]:
a = 10

In [7]:
print(f'Esto es un string formateado {a}')

Esto es un string formateado 10

## Variables

Creación

In [24]:
d = 10
t = 3.5

In [25]:
h = 'hola'
m = 'mundo'

In [26]:
v = True
f = False

In [27]:
x = 3
x = 'Juan'
print(x)

Juan

Obtener el tipo de una variable

In [ ]:
print(
    type(d),
    type(t),
    type(h),
    type(m),
    type(v),
    type(f),
    )

<class 'int'> <class 'float'> <class 'str'> <class 'str'> <class 'bool'> <class 'bool'>

Nombres validos de variables

In [ ]:
minombre = 'Juan'
mi_nombre = 'Juan'
miNombre = 'Juan'
MINOMBRE = 'Juan'
MiNombre2 = 'Juan'

Nombres inválidos

```
2minombre = 'Juan'
mi-nombre = 'Juan'
mi nombre = 'Juan'
```

Sintaxis en variables con multiples palabras

In [8]:
miVariableEsUnNombre = 'Juan'   # Camel Case
MiVariableEsUnNombre = 'Juan'   # Pascal Case
mi_variable_es_un_nombre = 'Juan' # Snake Case

Asignaciones múltiples

In [9]:
pi, pa, pe = 'piña', 'papaya', 'pera'
print(pi, pa, pe)

piña papaya pera

Un valor a varias variables

In [11]:
pi = pa = pe = 'piña'
print(pi, pa, pe)

piña piña piña

Desempaquetar listas

In [16]:
frutas = ['piña', 'banano', 'fresa']

In [17]:
pi, ba, fr = frutas
print(pi, ba, fr)

piña banano fresa

Impresión de variables

In [49]:
pi, fr, ba

('piña', 'fresa', 'banano')

In [48]:
pi
ba

'banano'

In [19]:
print(pi)
print(ba)
print(fr)

piña
banano
fresa

In [21]:
print(pi, ba, fr)

piña banano fresa

In [22]:
print(pi + ba + fr)

piñabananofresa

In [28]:
print(d + t)

13.5

In [29]:
print(t + pi)

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [30]:
print(t, pi)

3.5 piña

In [33]:
print(
    pi, 
    '\n',
    ba, 
    '\n',
    fr
)

piña
 banano
 fresa

Variables Gobales

In [34]:
x = 'día'

def func():
  x = 'noche'
  print(f'estamos de {x}')

func()

print(f'estamos de {x}')

estamos de noche
estamos de día

In [35]:
x = 'día'

def func():
  global x
  x = 'noche'
  print(f'estamos de {x}')

func()

print(f'estamos de {x}')

estamos de noche
estamos de noche

## Tipos de datos

```
Text Type:	str
Numeric Types:	int, float, complex
Boolean Type:	bool
Sequence Types:	list, tuple, range
Mapping Type:	dict
Set Types:	set, frozenset
Binary Types:	bytes, bytearray, memoryview
None Type:	NoneType
```

In [36]:
x = "Hola Mundo!!"  # str
x = 20  # int
x = 20.5  # float
x = 0 + 1j  # complex
x = True  # bool
x = ["papaya", "pera", "naranja"]  # list
x = ("papaya", "pera", "naranja")  # tuple
x = range(6)  # range
x = {"name": "Pedro", "age": 36}  # dict
x = {"papaya", "pera", "naranja"}  # set
x = frozenset({"papaya", "pera", "naranja"})  # frozenset
x = b"Hola"  # bytes
x = bytearray(5)  # bytearray
x = memoryview(bytes(5))  # memoryview
x = None  # NoneType

In [37]:
print(9+8j, type(9+8j))

(9+8j) <class 'complex'>

In [38]:
print(bytearray(5))

bytearray(b'\x00\x00\x00\x00\x00')

Cambio de tipo de variables

In [40]:
x = str("Hello World")	#str
x = int('1312312') #int
x = float(20.5) #float
x = complex(1j) #complex
x = list(("manzana", "sandia", "pan")) #list
x = tuple(("manzana", "sandia", "pan")) #tuple
x = range(6) #range
x = dict(name="Jose", age=19) #dict
x = set(("manzana", "sandia", "pan")) #set
x = frozenset(("manzana", "sandia", "pan")) #frozenset
x = bool(5) #bool
x = bytes(5) #bytes
x = bytearray(5) #bytearray
x = memoryview(bytes(5)) #memoryview

In [ ]:
x = str(45.9)
print(x, type(x))

45.9 <class 'str'>

In [ ]:
x = int('g')
print(x, type(x))

ValueError: ignored

In [ ]:
x = dict(name="Jose", age=19) #dict
print(x, type(x))

Números

In [ ]:
x = 1  # int
y = 2.8 # float
z = 3+1j # complex

In [ ]:
x = 1
y = 10927391267378162387162387612
z = -5435

In [ ]:
x = 1.0
y = 1.1
z = -4.9

In [ ]:
x = 10e4
y = 3E4
z = -4.6e59

In [ ]:
x = 1j
y = 3 + 5j
z = -4 -6j

In [ ]:
print(type(x),type(y),type(z))

Conversiones entre números

In [ ]:
x = 1  # int
y = 2.8 # float
z = 3+1j # complex

In [ ]:
# int to float
a = float(x)
print(a, type(a))

In [ ]:
# float to int
b = int(y)
print(b, type(b))

In [ ]:
# int to complex
c = complex(z)
print(c, type(c))

Conversiones a números

In [ ]:
x = int(1)
y = int(2.6)
z = int('58')
print(z)

In [ ]:
x = float(1)
y = float(6.8)
z = float('3')
w = float('8.8')
print(w)

In [ ]:
x = complex(1)
y = complex(2.8)
z = complex('3j')
w = complex('8.8')
v = complex('8.8+5j')
print(v)

strings

In [41]:
b = """
  Se pueden escribir varias líneas 
  usando 3 "
  tambien se usa para documentación
"""

c = '''
  Se pueden escribir varias líneas
  usando 3 '
  tambien se usa para documentación
'''

Conversiones a strings

In [44]:
a = str('12345')

a

'12345'

In [52]:
a = str(int(12345.0))
a

'12345'

In [53]:
a = str(float(87))

Strings como listas

In [59]:
c

"\n  Se pueden escribir varias líneas\n  usando 3 '\n  tambien se usa para documentación\n"

In [67]:
print(c[5])

In [62]:
for i in c:
    print(i)

S
e

p
u
e
d
e
n

e
s
c
r
i
b
i
r

v
a
r
i
a
s

l
í
n
e
a
s




u
s
a
n
d
o

3

'




t
a
m
b
i
e
n

s
e

u
s
a

p
a
r
a

d
o
c
u
m
e
n
t
a
c
i
ó
n

Longitud de un string

In [63]:
len(c)

85

Pertenencia de strings

In [68]:
c

"\n  Se pueden escribir varias líneas\n  usando 3 '\n  tambien se usa para documentación\n"

In [73]:
print(' Se' in c)

True

In [75]:
print('        Se' not in c)

True

Segmentación de strings

In [76]:
print(c[12:20]) # inicio y fin dados

 escribi

In [77]:
print(c[:20]) # fin dado

  Se pueden escribi

In [78]:
print(c[20:]) # inicio dado

r varias líneas
  usando 3 '
  tambien se usa para documentación

In [83]:
print(c[:-1]) # indice negativo

  Se pueden escribir varias líneas
  usando 3 '
  tambien se usa para documentación

Upper case

In [86]:
m = c.upper()
print(m)

  SE PUEDEN ESCRIBIR VARIAS LÍNEAS
  USANDO 3 '
  TAMBIEN SE USA PARA DOCUMENTACIÓN

In [87]:
m

"\n  SE PUEDEN ESCRIBIR VARIAS LÍNEAS\n  USANDO 3 '\n  TAMBIEN SE USA PARA DOCUMENTACIÓN\n"

Lower case

In [88]:
n = m.lower()
print(n)

  se pueden escribir varias líneas
  usando 3 '
  tambien se usa para documentación

Partir un string (split)

In [90]:
c

"\n  Se pueden escribir varias líneas\n  usando 3 '\n  tambien se usa para documentación\n"

In [91]:
p = c.split('\n')
print(p)

['', '  Se pueden escribir varias líneas', "  usando 3 '", '  tambien se usa para documentación', '']

Quitar espacios inicio string (strip)

In [4]:
m = '                   asasdio oaisduaoisd   oaidsuiaos   qweqweq  132 12 3'

In [5]:
m = m.strip()
print(m)

asasdio oaisduaoisd   oaidsuiaos   qweqweq  132 12 3

Reemplazar valores en un string

In [6]:
'asasdio' in m

True

In [7]:
m = m.replace('asasdio', 'Hola')
m

'Hola oaisduaoisd   oaidsuiaos   qweqweq  132 12 3'

In [8]:
m = m.replace(' ', '_')
m

'Hola_oaisduaoisd___oaidsuiaos___qweqweq__132_12_3'

In [10]:
m = m.split('_')
m

['Hola',
 'oaisduaoisd',
 '',
 '',
 'oaidsuiaos',
 '',
 '',
 'qweqweq',
 '',
 '132',
 '12',
 '3']

Formatear strings

In [11]:
txt = 'buenas tardes mi nombre es juan'

In [13]:
txt = txt.replace('juan', '')
txt

'buenas tardes mi nombre es '

In [14]:
nombre = 'Jorge'

In [15]:
type(txt) == type(nombre)

True

In [28]:
txt = 'buenas tardes mi nombre es ' + nombre + ' y me gusta el agua'
txt

'buenas tardes mi nombre es Jorge y me gusta el agua'

In [23]:
edad = 30

In [29]:
txt = txt + ' ' + str(edad) + ' y esta es mi edad'

In [30]:
txt

'buenas tardes mi nombre es Jorge y me gusta el agua 30 ty esta es mi edad'

In [32]:
edad = 30
txt = 'hola mi {} es {}'.format('edad',edad)
txt

'hola mi edad es 30'

In [40]:
edad = 30
var1 = 'edad'
txt = f'hola mi \n {var1} es {edad}'
txt

'hola mi \n edad es 30'

Caracteres Back Slask (\\)

```
    \'	        Single Quote
    \"	        Single Double Quote
    \\	        Backslash	
    \n	        New Line	
    \r	        Carriage Return	
    \t	        Tab	
    \b	        Backspace		
```

In [59]:
txt = 'hola \n mi nombre \n\n es Juan'
print(txt)

hola
 mi nombre

 es Juan

In [43]:
txt = '''Hola
mi nombre es
juan
'''

In [47]:
txt + "\t" +'hola'

'Hola\nmi nombre es\njuan\n\thola'

In [48]:
txt ='''Mi nombre es \"Juan\" y tengo años
me gusta \nleer,\n \rjugar y \thacer ejercicio
vivo \bcon 3 animales y 4 familiares'''
print(txt)

Mi nombre es "Juan" y tengo años
me gusta
leer,
jugar y 	hacer ejercicio
vivocon 3 animales y 4 familiares

In [62]:
txt

'hola \n mi nombre \n\n es Juan'

Encontrar la posicioon de un string en otro string

In [65]:
txt.find('Juan')

23

In [68]:
txt[23:]

'Juan'

[Metodos de los Strings](https://www.w3schools.com/python/python_strings_methods.asp)

Booleanos

In [70]:
n1 = 900
n2 = 3000

if n1 > n2:
    print(f'{n1} es mayor que {n2}')
else:
    print(f'{n1} es menor que {n2}')

900 es menor que 3000

In [71]:
print(n1 > n2)

False

Negaciones

In [73]:
print(not n1 > n2)
print(not False)
print(not True)

True
True
False

Conjunción y disjunción

![Image](https://th.bing.com/th/id/OIP.peJYgdD6w6v6TQ_f9FySbAGyCP?pid=ImgDet&rs=1)

In [76]:
print(False or True)

True

In [78]:
print(False | True)

True

In [ ]:
print(False and True)

In [79]:
print(False & True)

False

Comparaciones o igualdades

In [86]:
print(True == 1)
print(False == 0)
print(False != 2)
print(True != 2)

True
True
True
True

In [88]:
print(3 != 3)
print(1 != 2)

False
True

Referencia a la misma variable

In [89]:
list1 = [1, 2, 3, 4]
list2 = list1 
print(list1 is list2)
print(list1 == list2)

True
True

In [91]:
list2 = [1, 2, 3, 4]
print(list1 is list2)
print(list1 == list2)
print(not (list1 is list2))

False
True
True

Desigualdades

In [92]:
print(5 < 10)
print(5 > 10)
print(5 < 5)
print(5 <= 10)
print(5 >= 10)
print(5 <= 5)
print(5 < 10 <= 10)
print(5 < 10 > 7)

True
False
False
True
False
True
True
True

In [93]:
print(5 < 10 <= 10 and True == 1)
print(5 < 10 > 7 or (90-15) < (110-30))

True
True

Casos curiosos

In [94]:
print(True + True)
print(True * 8)
print(False - 5)

2
8
-5

In [95]:
print(0 and 2)
print(-5 or 0)

0
-5

Interpretación de otros tipos de datos como booleanos

In [101]:
print(bool(""))
print(bool(0))
print(bool(False))
print(bool(None))
print(bool(0.0))
print(bool(""))
print(bool(()))
print(bool([]))
print(bool({}))

False
False
False
False
False
False
False
False
False

In [102]:
print(bool("hola"))
print(bool(10))
print(bool(True))
print(bool(None))
print(bool(2.1))
print(bool((None, 9)))
print(bool(['piña', 'pera']))
print(bool({'clave':'valor'}))

True
True
True
False
True
True
True
True

Booleanos en funciones

In [103]:
def miFuncion():
    return True

if miFuncion():
    print('hay algo')
else:
    print('hay nada')

hay algo

Booleanos en clases

In [116]:
class MiClase():
    def miFuncion(self):
        return 0

juan = MiClase()

# Operadores

Operadores aritméticos

In [2]:
x = 3
y = 4

In [7]:
print(x + y) # suma
print(x - y) # resta
print(x * y) # multiplicación
print(x / y) # divición

7
-1
12
0.75

In [13]:
print(x ** y) # exponenciación
print(x // 4) # divición entera

81
0

In [22]:
print(4 % 3) # módulo

1

In [23]:
txt = 'mi texto'

In [31]:
print(txt*6)

mi textomi textomi textomi textomi textomi texto

Asignación compuesta

In [52]:
x = 10

In [61]:
x += 10  # x = x + 10

In [47]:
x -= 6

In [48]:
x *= 6

In [49]:
x /= 6

In [51]:
x %= 3

In [63]:
x //= 6

In [64]:
v = True
f = False

In [77]:
print(v or f)
print(v and f)

print(v | f)
print(f & f)

True
False
True
False

In [74]:
v |= True

In [81]:
f = f or v

In [82]:
f &= False

Operadores de comapración

In [83]:
x = 90
y = 98

In [84]:
print(x == y) # Igualación
print(x != y) # Diferencia

False
True

In [85]:
print(x < y)
print(x > y)
print(x <= y)
print(x >= y)

True
False
True
False

In [92]:
x = [10]
y = [10]

In [93]:
print(x is y)

False

In [94]:
y = x

Operador de identidad

In [97]:
print(x is y)
print(x is not y)

True
False

Combinaciones

In [96]:
print(10 < 9 and (90 + 15) > (1900-1800))

False

Operador menbrecia

In [101]:
txt2 = ' t'

print(txt2 in txt)
print(txt2 not in txt)

True
False

# Condicionales

- if
- while else
- for else

if

In [105]:
a = 90
b = 800
txt = 'Hola mundo'

In [106]:
if a > b:
    print(txt)

elif

In [110]:
c = 700

In [108]:
if a > b:
    print(txt)
elif a > c:
    print('otra cosa')

otra cosa

In [111]:
if a > b:
    print(txt)
elif a > c:
    print('otra cosa')
else:
    print('lo último')

lo último

If en una linea

In [115]:
a = 30
b = 30

print('a es menor que b') if a < b else print('a es mayor que b')

a es mayor que b

If anidado

In [116]:
if b < a:
    if b == 20:
        print('b es 20')

while

In [121]:
i = 0

while i < 10:
    print(i)
    i += 0.5

0
0.5
1.0
1.5
2.0
2.5
3.0
3.5
4.0
4.5
5.0
5.5
6.0
6.5
7.0
7.5
8.0
8.5
9.0
9.5

sentencia break

In [128]:
i = 0

while i < 10:
    if i == 5:
        break
    print(i)
    i+=1

0
1
2
3
4

while else

In [131]:
i = 0

while i < 10:
    print(i)
    i+=1
else:
    print('i es mayor que 10')

0
1
2
3
4
5
6
7
8
9
i es mayor que 10